.App{
  text-align: center;
}

input{
  margin-top: 20px;
  padding: 10px;
  width: 400px;
} 

 button{
  height: 48px;
  color: darkgreen;
  border-left: 3px;
}
button:hover{
  background-color: crimson;
}